.why-container {
  min-height: 2vh;
}

.feature-card {
  background: transparent;
  border: none;
  cursor: pointer;
  perspective: 1000px;
  height: 30vh;
  padding: 0.5rem;
  margin: 0.5rem;
}
.h2-text{
  font-family: sprintura;
}

.fill-highlight {
  font-family: sprintura;
  color: #d0ff00;
  -webkit-text-stroke: 1px black;

  /* 3D shadow layers */
  text-shadow:
    1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #333,
    2px 2px 6px rgba(0, 0, 0, 0.4),
    0 0 10px #d0ff00;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #e3ffa6, #d0ff8b);
}

.feature-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  color: #2c5d00;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.feature-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.feature-description {
  font-size: 1rem;
  text-align: center;
  color: #2c5d00;
}
