.coaching-highlights,.shoe-finder{
  font-family: 'sprintura', sans-serif;
  font-size: 2rem;
}
.p-4{
  height: 85%;
}

.fill-highlight{
.highlight {
  font-family: sprintura;
  color: #AFEE01;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* Thinner black outline */

  /* 3D shadow layers */
  text-shadow:
    0.5px 0.5px 0 #000,  /* Reduced shadow size */
    1px 1px 0 #000,      /* Reduced shadow size */
    2px 2px 0 #333,
    2px 2px 6px rgba(0, 0, 0, 0.4),
    0 0 10px #AFEE01;
}
.form-btn{
    align-items: center;
}

}

.start-btn {
  background-color: #AFEE01;
  color: black;
  border: none;
  font-weight: 600;
}

.start-btn:hover {
  background-color: #AFEE01;
}

/* .highlight-card {
  background-color: #f7f7f7;
  border: none;
  align-items: center;
}

.highlight-number {
  font-size: 1.5rem;
  font-weight: bold;
  width: 50px;
  text-align: center;
}

.highlight-text {
  padding-left: 1rem;
  font-size: 1rem;
}

.highlight-image {
  width: 90px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
} */

.flip-card-wrapper {
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
}

/* Front Side */
.flip-card-front {
  z-index: 2;
  flex-direction: row;
  overflow: visible;
}

.highlight-left {
  width: 60%;
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px 0 25px;
  clip-path: polygon(0 0, 95% 0, 85% 100%, 0 100%);
  color: black;
  z-index: 2;
}

.green .highlight-left {
  background-color: #AFEE01;
}

.grey .highlight-left {
  background-color: #EBEBEB;
}

.highlight-number {
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px white;
  min-width: 30px;
}

.highlight-text {
  font-size: 1rem;
  color: #000 !important;
}

/* Image on Front */
.highlight-image {
  height: 100px;
  object-fit: contain;
  margin-left: -50px; /* Shift left so left side overlaps */
  z-index: 1; /* Behind the left section */
  position: relative;
}

/* Back Side */
.flip-card-back {
  transform: rotateY(180deg);
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: black;
}

.green.flip-card-back {
  background-color: #AFEE01;
}

.grey.flip-card-back {
  background-color: #EBEBEB;
}

.highlight-description {
  font-size: 1rem;
}

.separator {
  width: 2px;
  background-color: #ccc; /* Or any color you like */
  height: 100%;
}
